@import '~bootstrap';
@import '~bootstrap-vue';

$black: #101820;
$gold: #FFB612;

.dd {
    color: var(--gold);
    border-color: var(--black);
}

.num {
    color: white;
}

.darkgreen {
    color: rgb(1, 95, 1);
}

.lightgreen {
    color: rgb(1, 140, 1);
}

.orange {
    color: orangered
}

.red {
    color: red
}